/* Team page */

.team-members {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
}
.hero {
    min-height: 100vh;
    min-width: 100vw;
    background: linear-gradient(
        to right, 
        rgba(255, 152, 152, 0.5),
        rgba(164, 247, 255, 0.5)
    ), url("https://picsum.photos/seed/picsum/200/300") center / cover no-repeat;
    place-items: center;
}